

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    background-color: palevioletred;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background-color: rgba(0, 0,0,0.1);
}       
.links {
    text-align: center;
}
.links a{
    font-family: "Mulish", sans-serif;
    color:azure;
    font-size: 20px;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none ;

}
.links a:hover{
    color: darkmagenta;
    transition: color 1000ms;

}

.teste:hover{
width: 250px;
height: 260px;
background-color: aqua;
}


#box {
    text-align: center ;
    padding: 32px;
    font-family: "Mulish", sans-serif;
    color:azure;
}

#box img {
    border-radius: 50%;
    border: 5px solid #6e0342;
    margin-bottom: 32px;
    
}

#box h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#box h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#box p{
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    list-style: 34px;
}

